body {
  background-image: url(./component/NavBar/image/Recipe_BackGround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  margin-left: -10px;
  font-family: fantasy;
  font-weight: 900;
}
.logoImg {
  position: absolute;
  background-color: transparent;
  left: 10%;
  top: 0;
}
.home-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  position: relative;
}
.heading {
  padding: 10px;
  font-family: fantasy;
  color: brown;
  font-weight: 900;
  letter-spacing: 5px;
  position: absolute;
  top: 20%;
  line-height: 60px;
}
.text {
  width: 600px;
  background-color: rgb(219, 216, 216);
  border-radius: 4px;
  outline: none;
  border: 1px solid green;
  text-align: center;
  color: brown;
}
::placeholder {
  opacity: 0.7;
  letter-spacing: 5px;
  font-family: fantasy;
}
.recipeDisplay {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  box-shadow: 0 3px 1-px 0 #aaa;
}
.image {
  height: 200px;
}
.display {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
